* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  align-items: center;
  background-color: #afb6b1;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 50%;
  height: 100%;
  margin-left: 2vw;
  filter: contrast(150%) brightness(1.1);
}

a:hover {
  /* background-color: white;*/
  color: #007bff;
}

h1 {
  color: #ffffff;
  margin: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.contenedorBtnHeader {
  width: 10%;
  position: absolute;
  right: 0%;
}

.contenedorBtnHeader .btmCerrarSesion {
  background-color: #ffffff;
  color: #ed5f5f;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contenedorBtnHeader .btmCerrarSesion:hover {
  background-color: #d15d5b;
  color: #fff;
  transition: 1s;
}

main {
  display: flex;
  width: 100%;
  height: 82%;
}

/* Seccion Menu */

.secMenu {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #ed5f5f;
  /*background-color: #eca54e;*/
  height: 100%;
  color: white;
  width: 5%;
  font-size: larger;
}

.icon-cont {
  width: 100%;
  height: 14.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-cont:hover {
  background-color: #b44e4e;
  transition: all 0.3s ease-in-out;
}

.icon-cont:hover .pe {
  color: white;
  transition: all 0.3s ease-in-out;
}

/*.icon-cont:hover a img {
  filter: invert(71%) sepia(43%) saturate(6386%) hue-rotate(192deg)
    brightness(100%) contrast(98%);
}*/

.secMenu .contenedorMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.secMenu .contenedorMenu a {
  text-decoration: none;
  font-size: larger;
  text-align: center;
  /* margin-top: 2em;*/
}

.secMenu .contenedorMenu a img {
  width: 35px;
}

.secMenu .contenedorMenu a p {
  color: white;
  font-size: small;
}

/* Seccion */

.sec-form-altaUsuario {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contenedor {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-contenedor h2 {
  margin-bottom: 20px;
  color: #ed5f5f;
}

.form-contenedor label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.conteiner-empresa {
  position: relative;
  width: 100%;
}

fieldset {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 50%;
  height: 20%;
}

#opcion-si {
  display: flex;
  flex-flow: row;
  width: 5em;
  margin-left: 2em;
}

#opcion-no {
  display: flex;
  flex-flow: row;
  width: 5em;
}

.form-contenedor input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#cont-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-contenedor button {
  background-color: #ed5f5f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  margin-top: 2em;
}

.form-contenedor button:hover {
  background-color: #b44e4e;
  transition: 0.5s;
}

#resultados {
  position: absolute;
  top: 40%;
  background-color: #ffffff;
  width: 45.5%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

#resultados.visible {
  display: block;
  border: 1px solid #ddd;
}

#resultados li {
  padding: 8px;
  cursor: pointer;
}

#resultados li:hover {
  background-color: #f0f0f0;
}


#mensaje {
  margin-top: 5px;
  font-size: small;
  margin: auto;
  padding-top: 15px;
}

.show {
  visibility: visible;
  color: #00b928;
}

.show-error {
  color: #b10000;

}

.hidde {
  visibility: hidden;
}

.remove {
  display: none;
}


footer {
  width: 100%;
  height: 10%;
  background-color: #afb6b1;
  color: #fff;
  padding: 20px;
  text-align: center;
}