* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    margin: 0;
    font-size: 2em;
    display: block;
    font-weight: bold;
}

.btmCerrarSesion {
    background-color: #539bfc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btmCerrarSesion:hover {
    background-color: #007bff;
    transition: 1s;
}

main {
    display: flex;
    width: 100%;
    height: 82%;
}

/*------------SECCION MENU------------------- */

.secMenu {
    background-color: #539bfc;
    height: 100%;
    color: white;
    width: 5%;
    font-size: larger;
}

.icon-cont {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-cont:hover {
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.icon-cont:hover .pe {
    color: #007bff;
    transition: all 0.3s ease-in-out;
}

.icon-cont:hover a img {
    filter: invert(71%) sepia(43%) saturate(6386%) hue-rotate(192deg) brightness(100%) contrast(98%);
}

.secMenu .contenedorMenu {
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.secMenu .contenedorMenu a {

    text-decoration: none;
    font-size: larger;
    text-align: center;
}

.secMenu .contenedorMenu a img {
    width: 35px;
}

.secMenu .contenedorMenu a p {
    color: white;
    font-size: small;
}

/* .seccion-tabla {
    width: 100%;
    height: 100%;
} */

.contenedor-encabezado-tabla{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.seccion-tabla table {
    width: 98%;
    height: 96%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: block;
    overflow: auto;
}

.seccion-tabla table thead{
    height: 10%;
    color: white;
    width: 100%;
}

.seccion-tabla table tbody {
    width: 80%;
    height: 90%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1%;
    transition: background-color 0.3s;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    width: calc( 100% / 8 );
    height: 5%;
    color: #555;
    text-align: center;
}

table tbody tr td img {
    width: 20%;
    cursor: pointer;
}

/* @media (max-width: 600px) {
    table {
        font-size: 14px;
    }
} */



/* ---------------------------------------------------------- */
/*                        MODAL                                  */
/* ---------------------------------------------------------- */

.contenedor-modal {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
    /* background: white; */
    background-color: #007bff;
    display: none;
    border-radius: 8px;
}

.encabezado-modal {
    width: 100%;
    height: 6%;
}

h2{
    color: white;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
}

.encabezado-modal button {
    width: 5%;
    position: absolute;
    right: 2%;
    top:0%;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-encabezado-modal .btn-cerrar:hover{
    background-color: #d03f2f;
}

.on {
    display: block;
}

.off {
    display: none;
}

.bloqueado {
    pointer-events: none;
}

.desbloqueado {
    pointer-events: all;

}

.contendor-datos {
    width: 100%;
    height: 94%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#formModificar{
    width: 100%;
    height: 100%;
    display: flex;

}
/* .contenedor-fom { */
    /* background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
    /* width: 100%; */
    /* height: 100%;
    width: calc(100% / 2); */
/* } */

.contenedor-input {
    width: calc(100% / 2);
}

.btn-primary, .btn-secondary{
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 12em;
    transition-duration: 2s;
}

/* ------------------------------------------- */
/*              FOOTER                         */
/* ------------------------------------------- */
footer {
    width: 100%;
    height: 10%;
    background-color: #539bfc;
    color: #fff;
    padding: 20px;
    text-align: center;
}