* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    align-items: center;
    background-color: #539bfc;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    margin: 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}

.logout-button {
    background-color: #539bfc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.contenedorBtnHeader {
    width: 10%;
    position: absolute;
    right: 0%;
  }
  
  .contenedorBtnHeader .btmCerrarSesion {
    background-color: #ffffff;
    color: #539bfc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contenedorBtnHeader .btmCerrarSesion:hover {
    background-color: #d15d5b;
    color: #fff;
    transition: 1s;
  }

main {
    display: flex;
    width: 100%;
    height: 92%;
}


/*--------SECCION MENU------------*/


.secMenu {
    display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #3eae58;
  /*background-color: #eca54e;*/
  height: 100%;
  color: white;
  width: 5%;
  font-size: larger;

}


.icon-cont {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon-cont:hover {
    background-color: #218838;
    transition: all 0.3s ease-in-out;
  }

  .icon-cont:hover .pe {
    color: white;
    transition: all 0.3s ease-in-out;
  }


/*
.icon-cont:hover a img {
    filter: invert(71%) sepia(43%) saturate(6386%) hue-rotate(192deg) brightness(100%) contrast(98%);
}
*/
.secMenu .contenedorMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }



  .secMenu .contenedorMenu a {
    text-decoration: none;
    font-size: larger;
    text-align: center;
    /* margin-top: 2em;*/
  }




  .secMenu .contenedorMenu a img {
    width: 35px;
  }

  .secMenu .contenedorMenu a p {
    color: white;
    font-size: small;
  }


.seccion-tabla {
    width: 100%;
    height: 100%;
}


table {
    width: 98%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Para ocultar los bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para profundidad */
    margin: auto;
    display: block;
    overflow: auto;

}

tbody {
    width: 100em;
    height: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.9em;
    transition: background-color 0.3s;
    /* Transición suave en el hover */
}

th {
    background-color: #f2f2f2;
    color: #333;
    /* Color de texto más oscuro */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Color alternativo para filas pares */
}

tr:hover {
    background-color: #f1f1f1;
    /* Color de fondo al pasar el ratón sobre la fila */
}

td {
    width: 2%;
    color: #555;
    /* Color de texto más suave para las celdas */
    text-align: center;
}

.buscador {
    margin: 1em 0;
    /* Espaciado superior e inferior */
    display: flex;
    /* Usar flexbox para alinear el input y el botón */
    justify-content: center;
    /* Centrar en el contenedor */
}

.buscador input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    /* Borde gris claro */
    border-radius: 4px;
    /* Bordes redondeados */
    width: 300px;
    /* Ancho del input */
    margin-right: 10px;
    /* Espaciado entre input y botón */
}

.buscador button {
    padding: 10px 20px;
    /* Espaciado interno del botón */
    background-color: #539bfc;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar cursor al pasar el ratón */
}

.buscador button:hover {
    background-color: #007bff;
    /* Color de fondo al pasar el ratón */
    transition: background-color 0.3s;
    /* Transición suave del color */
}


@media (max-width: 600px) {
    table {
        font-size: 14px;
        /* Ajuste de tamaño de fuente en pantallas pequeñas */
    }
}

table tbody tr td img {
    width: 2em;
    cursor: pointer;
}


/* ---------------------------------------------------------- */
/*                        MODAL                                  */
/* ---------------------------------------------------------- */
.contenedor-modal {
    width: 40%;
    height: 80%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.encabezado-modal {
    width: 100%;
}

.encabezado-modal button {
    width: 2%;
    position: absolute;
    right: 1%;
    top: 1%;
}

.on {
    display: block;
}

.off {
    display: none;
}

.bloqueado {
    pointer-events: none;
}

.desbloqueado {
    pointer-events: all;

}

.contendor-datos {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-item {
    padding: 1em;
}


.tabla-empleados {
    margin: 2% 0 0 0;
    display: block;
    overflow: auto;
}

.titulo-empleados {
    color: #007bff;
    margin: 0;
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;

}

.conteiner-empresa {
    position: relative;
    width: 100%;
}

#resultados {
    position: absolute;
    top: 45%;
    background-color: #ffffff;
    width: 45.5%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

#resultados.visible {
    display: block;
    border: 1px solid #ddd;
}

#resultados li {
    padding: 8px;
    cursor: pointer;
}

#resultados li:hover {
    background-color: #f0f0f0;
}
footer {
    width: 100%;
    height: 10%;
    background-color: #539bfc;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
