* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #afb6b1;
  --hover-main-color: #ed5f5f;
  --secondary-color: #ed5f5f;
  --hover--button-color: #b44e4e;
  --cancel-error-color: #d15d5b;
  --padding-size: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 8%;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 50%;
  height: 100%;
  margin-left: 2vw;
  filter: contrast(150%) brightness(1.1);
}

.contenedorNombreHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .contenedorNombreHeader h2 {
  display: flex;
  align-items: center;
  font-size: large;
  color: white;
  font-weight: bold;
  font-weight: bold;
  position: absolute;
  right: 12%;
}

.contenedorBtnHeader {
  width: 10%;
  position: absolute;
  right: 0%;
}

.contenedorBtnHeader .btmCerrarSesion {
  background-color: #ffffff;
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contenedorBtnHeader .btmCerrarSesion:hover {
  background-color: #d15d5b;
  color: #fff;
  transition: 0.5s;
}

main {
  display: flex;
  width: 100%;
  height: 84%;
}

/* ---------------- Seccion Menu ---------------------*/
.secMenu {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: var(--secondary-color);
  /*background-color: #eca54e;*/
  height: 100%;
  color: white;
  width: 5%;
  font-size: larger;
}

.icon-cont {
  width: 100%;
  height: 16.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-cont:hover {
  background-color: var(--hover--button-color);
  transition: all 0.3s ease-in-out;
}

.icon-cont:hover .pe {
  color: white;
  transition: all 0.3s ease-in-out;
}

/*
.icon-cont:hover a img {
    filter: invert(71%) sepia(43%) saturate(6386%) hue-rotate(192deg) brightness(100%) contrast(98%);
}*/

.secMenu .contenedorMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.secMenu .contenedorMenu a {
  text-decoration: none;
  font-size: larger;
  text-align: center;
  /* margin-top: 2em;*/
}

.secMenu .contenedorMenu a img {
  width: 35px;
}

.secMenu .contenedorMenu a p {
  color: white;
  font-size: small;
}

.seccion-tabla {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

table {
  width: 98%;
  height: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

thead {
  display: table;
  width: 100%;
}

tbody::-webkit-scrollbar {
  display: none;
  /* Oculta el scroll en navegadores WebKit */
}

tbody {
  width: 100%;
  max-height: calc(94vh - 200px);
  display: block;
  overflow: auto;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.9em;
  transition: background-color 0.3s;
  /* Transición suave en el hover */
}

th {
  background-color: #f2f2f2;
  color: #333;
  /* Color de texto más oscuro */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
  /* Color alternativo para filas pares */
}

tr:hover {
  background-color: #f1f1f1;
  /* Color de fondo al pasar el ratón sobre la fila */
}

td {
  width: 2%;
  color: #555;
  /* Color de texto más suave para las celdas */
  text-align: center;
}

.buscador {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.buscador input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  /* Borde gris claro */
  border-radius: 4px;
  /* Bordes redondeados */
  width: 300px;
  /* Ancho del input */
  margin-right: 10px;
  /* Espaciado entre input y botón */
}

@media (max-width: 600px) {
  table {
    font-size: 14px;
    /* Ajuste de tamaño de fuente en pantallas pequeñas */
  }
}

table tbody tr td img {
  width: 2em;
  cursor: pointer;
}

/* ---------------------------------------------------------- */
/*                        MODAL                                  */
/* ---------------------------------------------------------- */
.contenedor-modal {
  width: 40%;
  height: 70%;
  background: white;
  background-color: var(--main-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.encabezado-modal div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 4%;
  position: absolute;
  right: 2%;
  top: 2%;
  background-color: var(--cancel-error-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h2 {
  color: white;
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  margin: 0 0 0 1em;
}

.encabezado-modal {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
}

.encabezado-modal button {
  width: 4%;
  position: absolute;
  right: 1%;
  top: 3%;
}

.encabezado-modal button {
  width: 4%;
  position: absolute;
  right: 1%;
  top: 1%;
}

.on {
  display: block;
}

.off {
  display: none;
}

.bloqueado {
  pointer-events: none;
}

.desbloqueado {
  pointer-events: all;
}

.contendor-datos {
  width: 100%;
  height: 94%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  display: flex;
}

.contenedor-input {
  width: calc(100% / 2);
}

.contenedor-item {
  padding: 1em;
}

.tabla-empleados {
  margin: 2% 0 0 0;
  display: block;
  overflow: auto;
}

.titulo-empleados {
  color: #ffffff;
  margin-left: 10px;
  display: block;
  font-size: 2em;
  font-weight: bold;
  unicode-bidi: isolate;
}

#modalButtons {
  width: 100%;
  height: 10%;
  text-align: center;
}

.contenedor-input label {
  display: block;
  margin: 15px 0 5px;
  color: #555;
}

.contenedor-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  width: 80%;
}

.contenedor-input select {
  width: 80%;
}

.btn-primary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 1em;
  width: 12em;
  transition-duration: 1s;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--hover--button-color);
}

.blur-background {
  filter: blur(1px);
  pointer-events: none;
}

/* FOOTER */
footer {
  width: 100%;
  height: 8%;
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}