* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  align-items: center;
  background-color: #afb6b1;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img {
  max-width: 50%;
  height: 100%;
  margin-left: 2vw;
  filter: contrast(150%) brightness(1.1);
}

.contenedorNombreHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .contenedorNombreHeader h2 {
  display: flex;
  align-items: center;
  font-size: large;
  color: white;
  font-weight: bold;
  font-weight: bold;
  position: absolute;
  right: 12%;
}

header .contenedorNombreHeader h2 {
  font-size: large;
  color: white;
  font-weight: bold;
}

.logout-button {
  background-color: #ffffff;
  color: #539bfc;
  border: none;
  padding: 10px, 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contenedorBtnHeader {
  width: 10%;
  /* position: absolute;
  right: 0%; */
}

.contenedorBtnHeader .btmCerrarSesion {
  background-color: #ffffff;
  color: #ed5f5f;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contenedorBtnHeader .btmCerrarSesion:hover {
  background-color: #d15d5b;
  color: white;
  transition: 1s;
}

main {
  display: flex;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: #e8e0e0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .seccionAccesosDirectos {
  display: flex;
  width: 90%;
}

.secMenu {
  background-color: #ed5f5f;
  height: 100%;
  color: white;
  width: 5%;
  font-size: larger;
}

.icon-cont {
  width: 100%;
  height: 14.28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-cont:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.icon-cont:hover .pe {
  color: #007bff;
  transition: all 0.3s ease-in-out;
}

.icon-cont:hover a img {
  filter: invert(71%) sepia(43%) saturate(6386%) hue-rotate(192deg)
    brightness(100%) contrast(98%);
}

.secMenu .contenedorMenu {
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.secMenu .contenedorMenu a {
  text-decoration: none;
  font-size: larger;
  text-align: center;
  /* margin-top: 2em;*/
}

.secMenu .contenedorMenu a img {
  width: 35px;
}

.secMenu .contenedorMenu a p {
  color: white;
  font-size: small;
}

.seccionAccesosDirectos {
  display: flex;
  width: 85%;
  height: 100%;
  margin: auto;
}

main .seccionAccesosDirectos .contenedorAccesos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contenedorAccesos h2 {
  position: absolute;
}

.accesos {
  width: 12em;
  height: 16em;
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 1%;
  margin: auto;
}

.accesos div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  background-color: #d15d5b;
  border-radius: 50%;
  margin-bottom: 20px;
}

.accesos:hover {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.seccionAccesosDirectos .contenedorAccesos .accesos h3 {
  position: absolute;
  bottom: 10%;
}

.seccionAccesosDirectos .contenedorAccesos .accesos img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccionAccesosDirectos .contenedorAccesosDos {
  width: 40%;
  position: relative;
  margin: auto;
}

.seccionAccesosDirectos .contenedorAccesosDos .perfil {
  width: 90%;
  height: 15em;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.5);
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.seccionAccesosDirectos .contenedorAccesosDos .perfil:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.seccionAccesosDirectos .contenedorAccesosDos .perfil h3 {
  position: absolute;
  top: 10%;
}

.seccionAccesosDirectos .contenedorAccesosDos .contenedorFoto {
  width: 8em;
  margin: auto;
}

.seccionAccesosDirectos .contenedorAccesosDos .contenedorFoto img {
  width: 100%;
}

.seccionAccesosDirectos .contenedorAccesosDos .perfilDatos {
  width: 10em;
  margin: auto;
}

.seccionAccesosDirectos .contenedorAccesosDos .perfilDatos p {
  margin: 0 0 0.5em 0;
  font-size: larger;
}

.seccionAccesosDirectos .contenedorAccesosDos .perfilDatos .btnEditarPerfil {
  cursor: pointer;
  transition: 1s;
  padding: 0.5em;
  font-weight: bold;
}

.seccionAccesosDirectos
  .contenedorAccesosDos
  .perfilDatos
  .btnEditarPerfil:hover {
  background-color: rgba(0, 128, 0, 0.5);
  transition: 1s;
}

/* --------------------------------------------- */
/*              FOOTER                           */
/* --------------------------------------------- */

footer {
  width: 100%;
  height: 10%;
  background-color: #afb6b1;
  color: #fff;
  padding: 20px;
  text-align: center;
}
