body,
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.logo h1 {
    color: #007bff;
    margin-bottom: 50px;
}

.login-box {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.left-panel {
    background-color: #539bfc;
    color: white;
    padding: 20px;
    width: 200px;
    height: 275.719px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel {
    padding: 20px;
    width: 300px;
}

h3 {
    margin-top: 0;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 278px;
    padding: 10px;
    margin-top: 26px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #539bfc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}


button:hover {
    background-color: #007bff;
}

#mensaje {
    margin-top: 5px;
    font-size: small;
}

.show {
    visibility: visible;
    color: #00b928;
}

.show-error {
    color: #b10000;

}

.hidde {
    visibility: hidden;
}

.remove {
    display: none;
}

h3 {
    color: #404040;
}


.loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #007bff;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 15px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}