*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    align-items: center;
}

h1{
    margin: 0 1em 0 1em;
}


.contenedorBtnHeader{
    width: 10%;
    position: absolute;
    right: 5%;
}

.contenedorBtnHeader .btmCerrarSesion{
    width: 2em;
    height: 2em;
    background-color: rgb(57, 146, 57);
    border-radius: 50%;
    transition: 1s;
}

.contenedorBtnHeader .btmCerrarSesion:hover{
    background-color: red;
    transition: 1s;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contenedor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-contenedor h2 {
    margin-bottom: 20px;
}

.form-contenedor label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-contenedor input[type="text"],
.form-contenedor input[type="email"],
.form-contenedor input[type="password"],
.form-contenedor textarea,
.form-contenedor select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-contenedor button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin: 0.5em 0 0 0;
}

.form-contenedor button:hover {
    background-color: #218838;
}

